AddCharset UTF-8 .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff
# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule / index.php [R=301,L]
    RewriteRule test-page test.html [L,QSA]
    RewriteRule agency-reg agency/agency-reg.php [L,QSA]
    
    RewriteRule test.html none.php [L,QSA]
</IfModule>

ErrorDocument 500 http://foo.example.com/cgi-bin/tester
ErrorDocument 404 /error/404.php
ErrorDocument 401 /subscription_info.html
ErrorDocument 403 "Доступ запрещён!!"